# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
data/
output/
data_apart/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/*.tfvars
infra/*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store

.venv-eval/

